[Desktop Entry]
Type=Application

Name=UI Pretrain Manager
Comment=A user friendly GUI for scrcpy
Categories=Utility
Keywords=scrcpy;android;mirroring;screencast

Icon=io.github.pizi_0.flutter-scrcpygui
Exec=scrcpygui
Terminal=false